Canonical QFT Revision.aux
Canonical QFT Revision.bbl
Canonical QFT Revision.bcf
Canonical QFT Revision.blg
Canonical QFT Revision.fdb_latexmk
Canonical QFT Revision.fls
Canonical QFT Revision.log
Canonical QFT Revision.out
Canonical QFT Revision.synctex.gz
Canonical QFT Revision.run.xml
Canonical-QFT-Revision.out
Canonical-QFT-Revision.log
Canonical-QFT-Revision.fls
Canonical-QFT-Revision.fdb_latexmk
Canonical-QFT-Revision.bcf
Canonical-QFT-Revision.aux
Canonical-QFT-Revision.synctex.gz
Canonical-QFT-Revision.run.xml
